 
# Env files
env1/
env/

# Migrations and Caches
__pycache__/
*.pyc
**/migrations/*.py

# Exception
!**/migrations/__init__.py  

# Database
db.sqlite3
db.sqlite3-journal

# log files
*.log

# Vs Code files
.vscode/

# OS-specific files 
.DS_Store
Thumbs.db

# Uploaded Images
media/