<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/static/images/nasso.jpg">
</head>
<body>
    <center>
        <h1>About Us</h1>
        <h2>We Are Providing Digital Marketing Service Since 2001 to present</h2>
        <img src="static/images/grow.jpg" alt="No image">
        <p>We are idea generators, goal seekers, challenge-thirsty professionals,are 
        passionate about driving innovation at the intersection of Information Technology and Academia.
         Founded on the belief that technology has the power to revolutionize education, we have dedicated
        ourselves to empowering individuals and institutions with cutting-edge solutions and knowledge.</p>
    </center>
</body>
</html>