<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/file/admin-dashboard.css">
</head>
<body>
    <header>
        <img src="/static/images/nassonline.jpg" alt="file not exist" width="200px">
    </header>
<hr>
    <div class="container">
        <aside>
            <ul>
                <li class="dropdown"><img src="/static/dashboard/dashboard.png" alt="">  Dashboard
                    <ul class="dropdown-menu">
                        <li class="sub-dropdown">Staffs
                            <ul class="sub-dropdown-menu">
                                <li>Overview</li>
                            </ul>
                        </li>
                        <li class="sub-dropdown">Students
                            <ul class="sub-dropdown-menu">
                                <li>Overview</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><img src="/static/dashboard/student.png" alt="">  Students
                    <ul class="dropdown-menu">
                        <li>Manage</li>
                        <li>Add Plan</li>
                    </ul>
                </li>
                <li class="dropdown"><img src="/static/dashboard/settings.png" alt="">  Settings
                    <ul class="dropdown-menu">
                        <li class="sub-dropdown">Courses
                            <ul class="sub-dropdown-menu">
                                <li>JEE</li>
                                <li>NEET</li>
                                <li>Compained</li>
                            </ul>
                        </li>
                        <li class="sub-dropdown">Classes
                            <ul class="sub-dropdown-menu">
                                <li>XII</li>
                                <li>XI</li>
                                <li>X</li>
                                <li>Add Division</li>
                            </ul>
                        </li>
                        <li class="sub-dropdown">Subjects
                            <ul class="sub-dropdown-menu">
                                <li>Biology</li>
                                <li>Chemistry</li>
                                <li>Physics</li>
                                <li>Mathematics</li>
                            </ul>
                        </li>
                        <li class="sub-dropdown">Questions
                            <ul class="sub-dropdown-menu">
                                <li>Overview</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>

        <main>
            <h3 class="welcome">Welcome Admin , {{ data.username }}</h3>
            <div class="number-box">
                <div>
                    <img src="/static/dashboard/graduated.png" alt="no image">
                    <h4>Total Students</h4>
                    <h4>#</h4>
                </div>
                <div>
                    <img src="/static/dashboard/staff.png" alt="no image">
                    <h4>Total Staffs</h4>
                    <h4>#</h4>
                </div>
                <div>
                    <img src="/static/dashboard/course.png" alt="no image">
                    <h4>Total Courses</h4>
                    <h4>#</h4>
                </div>
            </div>
        </main>
    </div>

    <footer>
            <hr>
    </footer>
    <script src="/static/file/admin-dashboard.js"></script>
</body>
</html>