header img{
    border-radius: 15px;
}
.container{
    display: flex;
    flex: 1;
}
aside{
    width: 250px;
    height: 100vh;
    padding: 10px;
    font-family: Arial, sans-serif;
}
aside ul{
    list-style: none;
    padding: 0;
    margin: 0 ;
    }
aside ul li img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
}
aside ul li{
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
    background-color: #024e59;
    color: white;
    margin: 10px 0;
    border-radius: 5px;
}
aside ul li:hover{
    background-color: #0f798a;
}
.dropdown-menu3{
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    margin-top: 5px;
    padding-left: 20px;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}
.dropdown-menu3 li {
    background-color: #4b64d3;
    margin: 3px 0;
    border-radius: 5px;
}
.dropdown-menu3 li:hover {
    background-color: #0d3168;
}
.dropdown.active .dropdown-menu3{
    opacity: 1;
    visibility: visible;
    max-height: 200px;
}
.sub-dropdown-menu4{
    display: none;
    padding-left: 15px;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
}
.sub-dropdown-menu4 li{
    background-color: #07530b;
}
.sub-dropdown-menu4 li:hover{
    background-color: #147219;
}
.sub-dropdown.active > .sub-dropdown-menu4 {
    display: block;
    max-height: 150px;
}
a button {
    background-color: #024e59;
    color: #f0e2e2;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; 
}

a button:hover {
    background-color: #013740;
}
.buttons-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    margin-left: 85%;
}
